.menu {
  flex: 1 0 auto;
  height: 100%;
  overflow-y: auto;
  width: 250px;
  background-color: #051923;
  display: flex;
  flex-direction: column;
}

.menu > * {
  color: white;
  flex: 0 0 auto;
}

.app_name {
  margin-top: 70px;
  padding: 5px;
  font-size: 1.3rem;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.hr {
  margin: 30px 0px 0px 0px;
  border-bottom: 1px solid white;
}

.menu_list {
  margin-top: 100px;
  display: flex;
  height: 100%;
  flex: 1 0 auto;
  overflow-y: auto;
  flex-direction: column;
  gap: 5px;
}

li {
  height: 40px;
  color: #b1b1af;
  cursor: pointer;
  display: flex;
  gap: 15px;
  align-items: center;
  padding-left: 30px;
  margin: 0px 10px;
}

.menu_list > li > span {
  margin-top: -1px;
}

.menu_list > li:hover {
  color: white;
  text-decoration: underline;
}

.size-6 {
  height: 100px;
}
